body {
  background-color: rgba(0, 0, 0, 0.547);
  color: white;
}
main {
    margin: 20rem 60rem;
}

button {
  border-radius: 1rem;
}

button {
  background-color: white;
  border-color: white;
}

button:hover {
  border: 2px solid black
}

li {
  margin-top: 5px
}

.italic {
  font-style: italic;
}

#edit_btn,
#isDone_btn,
#delete_btn {
  margin-left: 6px;
}

#deleteAll_btn {
  margin-right: 6px;
}

#add_btn {
  margin-left: 6px;
}